{% extends "layout.twig" %}

{% block content %}
    <div id="map-container">
        <div id="map-canvas"></div>
    </div>
    <div id="searchRow" class="row">
        <form id="formSearch">
        <div class="col-sm-6">
            <input id="inputSearch" type="text" class="form-control" placeholder="City Name" {% if location is defined %} value="{{ location.getName() }}"  {% endif %}>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6">
                <button id="buttonSearch" type="submit" class="btn btn-primary btn-block">SEARCH</button>
            </div>
            <div class="col-sm-6">
                <button id="buttonHistory" type="button" class="btn btn-primary btn-block">HISTORY</button>
            </div>
        </div>
        </form>
    </div>
</div>
<script>
{% if location is defined %}
    var latitude = {{ location.getLatitude() }};
    var longitude = {{ location.getLongitude() }};
{% else %}
    var latitude = 51.508515;
    var longitude = -0.1254872;
{% endif %}

{% if tweets is defined %}
    var tweets = [
        {% for tweet in tweets %}
        ['{{ tweet.user }}','{{ tweet.profileImageUrl }}','{{ tweet.latitude }}','{{ tweet.longitude }}','{{ tweet.content|raw|e('js') }}<br/>When: {{ tweet.posted }}'],
        {% endfor %}
    ];
{% else %}
    var tweets = [];
{% endif %}


{% if error is defined %}
    alert('{{ error|e('js') }}');
{% endif %}


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/js/javascript.js"></script>
{% endblock %}